---
name: Beta Test Result
about: Describe this issue template's purpose here.
title: "[TEST RESULT]"
labels: test-result
assignees: sydneyitguy

---

**Tester's information**
1. Your email address:
2. Your wallet address to receive HUNT reward:

**Proof for test results**
1. Lock-up
2. Break & Withdraw
3. Unlock
4. Claim Bonus
4. Claim WRN
